{% extends 'fe/fe_global.html' %}
{% block body %}

<section class="bg-image" style="background-image: url('images/bg_1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <h1 class="display-4"><br>About Us</h1>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-services">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
                <div class="mb-3 pt-5 tab">
                    <h2 class="h6 tablinks" onclick="openTab(event, 'about')" id="defaultOpen">About</h2>
                    <ul class="list-unstyled probootstrap-light mb-4">
                        {% for i in fetchabout %}
                        <li>
                            <a href="/aboutshow?id={{i.id}}">{{i.title}}</a>
                        </li>  
                        {% endfor %}
                        
                       
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
                <div id="about" class="tabcontent">
                    <h1 class="mt-4 mb-4">{{fetch.title}}</h1>
                    <div class="col-md-12">
                        <img src="{{fetch.file_au}}" style="max-width: 100%;">
                        <h1 class="mt-4 mb-4">{{fetch.title}}</h1>
                        <p>{{fetch.text_au|safe}}</p>
                    </div>
                    <br>
                   
                </div>
                
                
                    
                
            </div>
        </div>
    </div>
</section>

{% endblock %} 