<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cardiology - Nityanand Hospitals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nityanand Hospitals"/>
    <meta name="keywords" content="Dr sushen bhatt, Dr harish bhatt, Dr vibhuti bhatt, Cardiology, Cancer, Oncosurgery,
    Oral cancer, Throat cancer, head and neck cancer, Thyroid, Parotid, ENT, Otorhinolaryngology, Reconstruction,
    Physician, Psychiatry, Chemotherapy, Surgical oncology, Heart attack, Stroke, Endoscopy, Tympanoplasty, Tonsil,
    Vertigo, Hospitals in ville parle, Cancer hospitals in suburbs, Cancer hospitals in vile parle."/>
    <meta name="author" content="http://nityanandhospital.in"/>

    <link rel="shortcut icon" type="image/png" href="images/nityanand-favicon.png" sizes="32x32"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav .dropdown-menu-right {
                right: auto;
            }
        }

        .probootstrap-navbar-dark .navbar-nav > .nav-item > .nav-link {
            padding-left: 0px;
        }

        .probootstrap-contact-phone .probootstrap-text {
            margin-top: -5px;
        }

        ul.navbar-nav li.dropdown:hover div.dropdown-menu {
            display: block;
        }

        .probootstrap-blog-appointment .probootstrap-aside-stretch-right {
            margin-top: -4em;
        }

        .probootstrap-section, .probootstrap-footer {
            padding: 3em 0 3em 0;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav"
                aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="index.php" class="nav-link pl-0">Home</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">About</a>
                </li>
                <li class="nav-item dropdown active">
                    <a href="departments.html" class="nav-link">Departments
                        <i class="icon-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="internal_medicine.html">Internal Medicine</a>
                        <a class="dropdown-item" href="cardiology.html">Cardiology</a>
                        <a class="dropdown-item" href="psychiatry.html">Psychiatry</a>
                        <a class="dropdown-item" href="surgical_oncology.html">Surgical Oncology</a>
                        <a class="dropdown-item" href="ent.html">ENT</a>
                        <a class="dropdown-item" href="medical_oncology.html">Medical Oncology</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">Services
                        <i class="icon-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="opd.html">OPD</a>
                        <a class="dropdown-item" href="ipd.html">IPD</a>
                        <a class="dropdown-item" href="iccu.html">ICCU</a>
                        <a class="dropdown-item" href="emergency.html">Emergency Care</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="your_doctors.html" class="nav-link">Know Your Doctor</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">Patient Services
                        <i class="icon-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="billing.html">Billing</a>
                        <a class="dropdown-item" href="appointment.php">Make an Appointment</a>
                        <a class="dropdown-item" href="vistors_rights.html">Visitors Rights &amp; Responsibilities</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="healthy_education.html" class="nav-link">Health Education</a>
                </li>
                <li class="nav-item">
                    <a href="contact.php" class="nav-link">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
<header role="banner" class="probootstrap-header py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.php" class="mr-auto">
                    <img src="images/logo.png" class="hires">
                </a>
            </div>
            <div class="col-md-9">
                <div class="float-md-right float-none">
                    <div class="probootstrap-contact-phone d-flex align-items-top mb-3 float-left">
                        <span class="icon mr-2"><i class="icon-phone"></i></span>
                        <span class="probootstrap-text">9920418739</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="bg-image" style="background-image: url('images/bg_1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <h1 class="display-4"><br>Departments</h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-services">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
                <div class="mb-3 pt-5">
                    <h2 class="h6">Departments</h2>
                    <ul class="list-unstyled probootstrap-light mb-4">
                        <li>
                            <a href="internal_medicine.html">Internal Medicine</a>
                        </li>
                        <li class="active">
                            <a href="cardiology.html">Cardiology</a>
                        </li>
                        <li>
                            <a href="psychiatry.html">Psychiatry</a>
                        </li>
                        <li>
                            <a href="surgical_oncology.html">Surgical Oncology</a>
                        </li>
                        <li>
                            <a href="ent.html">ENT</a>
                        </li>
                        <li>
                            <a href="medical_oncology.html">Medical Oncology</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
                <h1 class="mt-4 mb-4">Cardiology</h1>
                <p style="text-align: justify">The department of Cardiology offers specialized and advanced treatment
                    strategies. Our integrated amenities are supported by state-of-the-art cardiac care for any heart
                    ailment seconded by superlative ICCU management. The department has earned a lot of good will to its
                    name for saving the lives of many patients. We are known to be the first outreach health care
                    facility in Vile Parle & Andheri for cases of heart attacks & stroke (paralysis).</p>

                <div class="row col-12" style="justify-content: center;display: flex">
                    <div class="row no-gutters">
                        <div class="col-lg-6 col-md-6 col-sm-12 prbootstrap-team">
                            <a href="#">
                                <img src="images/doctor/dr_harish_bhatt_black_homepage.jpg" alt="Dr Harish N Bhatt"
                                     class="img-fluid">
                                <div class="probootstrap-person-text">
                                    <span class="title">Medical Doctor</span>
                                    <span class="name">Dr Harish N Bhatt</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--<div class="no-gutters col-6">
                        <p style="text-align: justify">The Department is headed by Dr Rohit Pai, a hard-headed physician with
                    global experience.</p>
                    </div>-->
                </div>

                <p style="text-align: justify">The Department is headed by Dr Harish N Bhatt, who has a vivid experience
                    of over 30 years. He is accompanied by a team of coherent assistant doctors and RMOs.</p>
            </div>
        </div>
    </div>
</section>

<footer class="probootstrap-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="heading">Head Office</h3>
                <p class="mb-5">
                    Saurabh Apartments, Shahaji Raje Marg, Vile Parle East, Mumbai 400057
                </p>
                <h3 class="heading text-white">Open</h3>
                <p>
                    24*7
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="heading">Quick Links</h3>
                <ul class="list-unstyled probootstrap-footer-links">
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <a href="departments.html">Department</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.php">Contact</a>
                    </li>
                    <li>
                        <a href="join_us.html">Join Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="heading">Accrediation</h3>
                <img src="images/acc.png">
            </div>
        </div>
        <!-- END row -->
        <div class="row probootstrap-copyright">
            <div class="col-md-12">
                <p>
                    <small>&copy; 2019 Nityanand Hospital. All Rights Reserved.</small>
                    <a href="http://kapsicumweb.com" target="_blank">
                        <img style="float: right;" src="images/white-kapsicumweb.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<div id="probootstrap-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#32609e"/>
    </svg>
</div>

<script src="js/jquery-3.2.1.min.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="js/popper.min.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="js/bootstrap.min.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="js/owl.carousel.min.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="js/jquery.waypoints.min.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="js/bootstrap-datepicker.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="js/jquery.animateNumber.min.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="js/main.js" type="139db0cea05c2ba8fecb3c6c-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="139db0cea05c2ba8fecb3c6c-|49" defer="">
</script>

</body>
</html>