{% extends 'fe/fe_global.html' %}
{% block body %}

<section class="bg-image" style="background-image: url('images/bg_1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <h1 class="display-4"><br>Our Doctors</h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-services">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
                <div class="mb-3 pt-5">
                    <h2 class="h6">Our Doctors</h2>
                    <ul class="list-unstyled probootstrap-light mb-4">
                        {% for i in fetchall %}
                        <li>
                            <a href="/docdet?id={{i.id}}" style="color:#fff;"><b>{{i.doc_name}}</b></a>
                        </li>
                        {% endfor %}
                       
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
                <div id="about" class="tabcontent">
                    <h1 class="mt-4 mb-4">{{fetchdetails.doc_name}}</h1>
                    <h5 style="text-align: justify">{{fetchdetails.doc_title}}</h5>
                    <br>
                    <div class="col-md-12">
                        <img src="{{fetchdetails.doc_img}}" style="max-width: 100%;">
                    </div>
                    <br>
                    <p style="text-align: justify">{{fetchdetails.doc_text|safe}}</p>
                    
                    <p style="text-align: justify">For appointments kindly call 9920418739</p>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}