<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nityanand Hospitals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nityanand Hospitals"/>
    <meta name="keywords" content="Dr sushen bhatt, Dr harish bhatt, Dr vibhuti bhatt, Cardiology, Cancer, Oncosurgery,
    Oral cancer, Throat cancer, head and neck cancer, Thyroid, Parotid, ENT, Otorhinolaryngology, Reconstruction,
    Physician, Psychiatry, Chemotherapy, Surgical oncology, Heart attack, Stroke, Endoscopy, Tympanoplasty, Tonsil,
    Vertigo, Hospitals in ville parle, Cancer hospitals in suburbs, Cancer hospitals in vile parle."/>
    <meta name="author" content="http://nityanandhospital.in"/>

    <link rel="shortcut icon" type="image/png" href="static/assets/images/nityanand-favicon.png" sizes="32x32"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/assets/css/icomoon.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/animate.css">
    <link rel="stylesheet" href="static/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav .dropdown-menu-right {
                right: auto;
            }
        }

        .probootstrap-navbar-dark .navbar-nav > .nav-item > .nav-link {
            padding-left: 0px;
        }

        .probootstrap-contact-phone .probootstrap-text {
            margin-top: -5px;
        }

        ul.navbar-nav li.dropdown:hover div.dropdown-menu {
            display: block;
        }

        .probootstrap-blog-appointment .probootstrap-aside-stretch-right {
            margin-top: -4em;
        }

        .probootstrap-section, .probootstrap-footer {
            padding: 3em 0 3em 0;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav"
                aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/home" class="nav-link pl-0">Home</a>
                </li>
                <li class="nav-item ">
                    <a href="/aboutshow?id=1" class="nav-link">About</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">
                        {% for i in fetchabout %}
                        <a class="dropdown-item" href="/aboutshow?id={{i.id}}">{{i.title}}</a>  
                        {% endfor %}
                             
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="/deptshow?id=1" class="nav-link">Departments
                        <i class="icon-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">
                        {% for i in fetchdp %}
                        <a class="dropdown-item" href="/deptshow?id={{i.id}}">{{i.dept_title}}</a>  
                        {% endfor %}
                          
                      
                        
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="/serviceshow" class="nav-link">Services
                        <i class="icon-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">

                            {% for i in fetchs %}
                            <a class="dropdown-item" href="/serviceshow?id={{i.id}}">{{i.serv_title}}</a>
                            {% endfor %}     
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/docshow" class="nav-link">Know Your Doctor</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="/patientshow?id=1" class="nav-link">Patient Services
                        <i class="icon-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                        aria-labelledby="navbarDropdownMenuLink">
                       
                        {% for i in fetchpt %}
                        <a class="dropdown-item" href="/patientshow?id={{i.id}}">{{i.pat_title}}</a>
                        {% endfor %}
                        <a class="dropdown-item" href="/email">Make an Appointment</a>

                    </div>
                </li>
                <li class="nav-item ">
                    <a href="/healthshow" class="nav-link">Health Education</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">
                        {% for i in fetchedu %}
                        <a class="dropdown-item" href="/healthshow?id={{i.id}}">{{i.title}}</a>  
                        {% endfor %}
                             
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/consmtp" class="nav-link">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
<header role="banner" class="probootstrap-header py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="/home" class="mr-auto">
                    <img src="static/assets/images/logo.png" class="hires">
                </a>
            </div>
            <div class="col-md-9">
                <div class="float-md-right float-none">
                    <div class="probootstrap-contact-phone d-flex align-items-top mb-3 float-left">
                        <span class="icon mr-2"><i class="icon-phone"></i></span>
                        <span class="probootstrap-text">9920418739</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% block body %}
    
{% endblock body %}





<footer class="probootstrap-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="heading">Head Office</h3>
                <p class="mb-5">
                    Saurabh Apartments, Shahaji Raje Marg, Vile Parle East, Mumbai 400057
                </p>
                <h3 class="heading text-white">Open</h3>
                <p>
                    24*7
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="heading">Quick Links</h3>
                <ul class="list-unstyled probootstrap-footer-links">
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <a href="departments.html">Department</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.php">Contact</a>
                    </li>
                    <li>
                        <a href="join_us.html">Join Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="heading">Accrediation</h3>
                <img src="static/assets/images/acc.png">
            </div>
        </div>
        <!-- END row -->
        <div class="row probootstrap-copyright">
            <div class="col-md-12">
                <p>
                    <small>&copy; 2019 Nityanand Hospital. All Rights Reserved.</small>
                    <a href="http://kapsicumweb.com" target="_blank">
                        <img style="float: right;" src="static/assets/images/white-kapsicumweb.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<!-- <div id="probootstrap-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#32609e"/>
    </svg>
</div> -->

<script src="js/jquery-3.2.1.min.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="js/popper.min.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="js/bootstrap.min.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="js/owl.carousel.min.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="js/jquery.waypoints.min.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="js/bootstrap-datepicker.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="js/jquery.animateNumber.min.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="js/main.js" type="361cb8c36f4963d17deb1e8e-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="361cb8c36f4963d17deb1e8e-|49" defer=""></script>

<script>
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>
