{% extends 'fe/fe_global.html' %}
{% block body %}

<section class="bg-image" style="background-image: url('static/assets/images/bg_1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <h1 class="display-4"><br>Know Your Doctors</h1>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h2 class="h1">Our Doctors</h2>
            </div>
        </div>
        <div class="row no-gutters">
            {% for i in fetchall %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 prbootstrap-team mb-4">
                <img src="{{i.doc_img}}" alt="" class="img-fluid" >
                <div class="probootstrap-person-text">
                   
                    
                    <span class="name">
                        <a href="/docdet?id={{i.id}}" style="color: #ffffff">{{i.doc_name}}</a>
                    </span>
                   
                       
                   
                    <!--<span class="title">Medical Doctor</span>-->
                    <span class="title">{{i.doc_title}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}