{% extends 'admin/global.html' %}
{% block about %}
menu-open
{% endblock about %}
{% block Body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <form action="/about" method="post" enctype="multipart/form-data">

            <input type="hidden" name="id" value="{{fetch.id}}">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Image</label>
              <input class="form-control" name="file" value="{{fetch.file_au}}" type="file" id="formFile">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" value="{{fetch.title}}">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Text Description</label>
              {{ ckeditor.load() }}
              {{ ckeditor.create(value=fetch.text_au|safe) }}
              {{ ckeditor.config() }}
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-dark">Submit</button> <br>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>


                <th scope="col">Title</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>

              {% for i in fetchabout  %}

              <tr>

                <th scope="row">{{loop.index}}</th>
                <td><img src="{{i.file_au}}" alt="" width="44px"></td>


                <td>{{i.title}}</td>


                <td><a href="/about?id={{i.id}}"><i class="fas fa-edit"></i></a>
                </td>

              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>















{% endblock %}