{% extends 'admin/global.html' %}
{% block Body %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/consmtp" method="post" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Enter Your Name</label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Mail</label>
          <input type="mail" class="form-control" name="mail">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Write your message</label>
          <textarea type="text" class="form-control" name="message">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-dark">Submit</button> <br>
        </div>
      </form>
    </div>                    
            
  </div>     
    
</div>

    
 


    {% endblock %}