{% extends 'admin/global.html' %}
{% block con %}
menu-open
{% endblock con %}
{% block Body %}

<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <div class="card-title">Contact Add</div>
          <br />
          <hr />
          <form action="/contact" method="post" enctype="multipart/form-data">

            <div class="mb-3">
              <input type="hidden" id='id' name='id' value="{{fetchcontact.id}}">

             
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Image</label>
              <input class="form-control" name="img" value="{{fetchcontact.img}}" type="file" id="formFile">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-dark">submit</button> <br>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr.No</th>
               
                <th scope="col">Image</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>


              {% for i in fetch  %}
              <tr>

                <th scope="row">{{loop.index}}</th>



               

                <td><img src="{{i.img}}" alt="" width="44px"></td>

                <td><a href="/contact?id={{i.id}}" style="color: black;"><i class="fas fa-edit"></i></a>&nbsp;<a href="/condel?id={{i.id}}" style="color: black;"><i class="fas fa-trash"></i></a></td>


                </td>

              </tr>
              {% endfor %}



            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}