{% extends 'admin/global.html' %}
{% block direction %}
menu-open
{% endblock direction %}
{% block Body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form action="/direction" method="post" enctype="multipart/form-data">

                        <input type="hidden" id="id" name="id" value="{{fetchmap.id}}">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Direction Link</label>
                            <input type="text" class="form-control" name="link" value="{{fetchmap.link}}">
                        </div>
                        <div class="mb-3">
                            <iframe src="{{fetchmap.link}}" width="600" height="450" style="border:0;"
                                allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-dark">Submit</button> <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
</div>



{% endblock %}