{% extends 'admin/global.html' %}
{% block slider %}
menu-open
{% endblock slider %}
{% block Body %}

<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <form action="/homeslider" method="post" enctype="multipart/form-data">



            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Image</label>
              <input class="form-control" name="slider_image" value="{{fetchslider.slider_image}}" type="file"
                id="formFile">


            </div>
            <div class="mb-3">
            <button type="submit" class="btn btn-dark">submit</button> <br>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr.No</th>

                <th scope="col">Image</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>

              {% for i in fetchslider  %}

              <tr>

                <th scope="row">{{loop.index}}</th>




                <td><img src="{{i.slider_image}}" alt="" width="44px"></td>



                <td><a href="/deleteslider?id={{i.id}}"><i class="fas fa-trash"></i></a></td>

                </td>

              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}