{% extends 'admin/global.html' %}
{% block Body %}

<div class="container">

    <div class="row"><div class="col-md-6"><form action="/pservedit" method="post" enctype="multipart/form-data">
         
        <input type="hidden" id= 'id' name= 'id' value="{{fetchpat.id}}">
       
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" name="pat_title" value="{{fetchpat.pat_title}}">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Image</label>
            <input class="form-control" name="img" value="{{fetchpat.img}}"  type="file" id="formFile">
          </div>
          <label for="exampleFormControlInput1" class="form-label">Text</label>
          {{ckeditor.create(value= fetchpat.text|safe)}}
        <button type="submit" class="btn btn-dark">submit</button> <br>
    </form></div>
    <div class="col-md-6">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Text</th>
                <th scope="col">Actions</th>
                
              </tr>
            </thead>
            <tbody>
        
              
                {% for i in fetchpatient  %}
                <tr>
                                
                    <th scope="row">{{loop.index}}</th>
                    
                    
                    
                    <td>{{i.pat_title}}</td>
                    
                    <td><img src="{{i.img}}" alt="" width="44px"></td> 
                    <td>{{i.text|safe}}</td>  
                    <td><a href="/pservedit?id={{i.id}}"><i class="fas fa-edit"></i></a></td>
                           
                    
                    </td>
                                      
                    </tr>
                {% endfor %}          
                
                              
              
            </tbody>
          </table></div>
</div>


{% endblock %}