{% extends 'admin/global.html' %}
{% block Body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <form action="/service" method="post" enctype="multipart/form-data">

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" name="serv_title" value="{{fetchserv.serv_title}}">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Image</label>
              <input class="form-control" name="serv_img" value="{{fetchserv_img}}" type="file" id="formFile">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Text</label>
              {{ ckeditor.load() }}
              {{ ckeditor.create(value= fetchserv.serv_text|safe) }}
              {{ ckeditor.config() }}
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-dark">Submit</button> <br>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>

                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>

              {% for i in fetchserv  %}
              <tr>

                <th scope="row">{{loop.index}}</th>
                <th scope="row">{{i.serv_title}}</th>

                <td><img src={{i.serv_img}} alt="" width="44px"></td>




                <td><a href="/servedit?id={{i.id}}"><i class="fas fa-edit"></i></a></td>

                </td>

              </tr>
              {% endfor %}






            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>


{% endblock %}