{% extends 'admin/global.html' %}
{% block Body %}

<div class="container">
    <div class="row"><div class="col-md-6"><form action="/vresp" method="post" enctype="multipart/form-data">
         
        <input type="hidden" id="id" name="id" value="{{fetch.id}}">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" name="pat_title" value="{{fetch.pat_title}}">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Image</label>
          <input class="form-control" name="image" value="{{fetch_img}}" type="file" id="formFile">
        </div>
       
        <button type="submit" class="btn btn-dark">Submit</button> <br>
    </form></div>
    

    <div class="col-md-6">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            
            <th scope="col">Actions</th>
            
          </tr>
        </thead>
        <tbody>
    
            {% for i in fetch  %}
            <tr>
                            
              <th scope="row">{{loop.index}}</th>
              <th scope="row">{{i.pat_title}}</th>
                       
              <td><img src={{i.img}} alt="" width="44px"></td> 
              
              
              
              
              <td><a href="/delete?id={{i.id}}"><i class="fas fa-trash"></i></a></td>                       
              
              </td>
                                
              </tr>
            {% endfor %}
                           
           
           
          
                          
            
        </tbody>
      </table></div>
    </div>
</div>
</div>      
    
  </div>


    {% endblock %}


















